<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/edms/libs/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <v-app id="app">
        <v-content>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-card style="width:50%;margin-left:25%;margin-top : 100px">
                        <v-toolbar color="primary" dark flat>
                            <v-toolbar-title>学生注册</v-toolbar-title>
                        </v-toolbar>
                        <v-card-text>
                            <v-form>
                                <v-text-field label="email" id="login" type="text" v-model="data.form.email">
                                </v-text-field>

                                <v-text-field label="密码" id="password" type="password" v-model="data.form.password"></v-text-field>

                                <v-text-field label="确认密码" id="password_confirm" type="password" v-model="data.form.password_confirm"></v-text-field>

                                <v-text-field label="姓名" id="name" type="text" v-model="data.form.name">
                                </v-text-field>
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn @click="register" color="primary">注册</v-btn>
                            <a style="margin-left: 10%;" @click="toLogin">返回登陆</a>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-content>
    </v-app>
    <script src="/edms/libs/jquery.min.js"></script>
    <script src="/edms/libs/vue.js"></script>
    <script src="/edms/libs/vuetify.js"></script>
    <script src="config.js"></script>
    <script src="/edms/libs/swc_utils.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            props: {
                source: String,
            },
            data: {
                data: {
                    conditions: {

                    },
                    form: {
                        email: '',
                        password: '',
                        password_confirm : '',
                        name : ''
                    }
                }
            },
            methods: {
                register: function () {
                    var that = this;
                    $.ajax({
                        url : swc.config.baseUrl + '/api/public/student/register',
                        method : 'post',
                        headers : {
                            'Content-Type' : 'Application/json'
                        },
                        data : JSON.stringify(this.data.form),
                        success : function(res) {
                            if(!swc.utils.checkRes(res)) {
                                return ;
                            }
                            alert('注册成功，请登陆' + res.student.name);
                            that.toLogin();
                        }
                    })
                },
                toLogin : function() {
                    location.href = swc.config.baseUrl + '/student/login.html';
                }
            }
        })
    </script>
</body>

</html>